extends layout

block content
  include header.jade
  .box.p-2(id='document-viewer', data-document-id='#{documentId}' data-destination-user="#{destinationUser}")
  script(
    src="https://cdnjs.cloudflare.com/ajax/libs/aes-js/3.1.2/index.min.js",
    integrity="sha512-LOqfKFwH2W3jeb0NzXcImFlSyoL7hjsWbZvIeKNOaZw1gFw+yKTE/QUDGLit2KWdd57qd6IgMDkppK2tkwIEhA==",
    crossorigin="anonymous",
    referrerpolicy="no-referrer")
  script(src="/lib/openpgp.min.js")