extends layout

block content
  include header.jade
  .tiles 
    .tile
      .box
        .field
          label.label Username
          input.input(type='text' readonly value='#{viewUserProfile.user}')
        .field
          label.label Display Name
          input.input(type='text' readonly value='#{viewUserProfile.display_name}')

        if relationship
          if relationship.status == 'requested'
            .has-text-info
              | A request to connect has been sent to this party and is pending.
          else if relationship.status == 'pending'
            .has-text-info
              | You have an incoming request to connect from this party.
            .buttons.mt-5
              a.button.is-primary(href='/profile/approve/#{viewUserProfile.uid}')
                span Approve
              a.button.is-primary(href='/profile/decline/#{viewUserProfile.uid}')
                span Decline
          else if relationship.status == 'decliner'
            .has-text-warning-dark
              | You have declined this party's request to connect.
          else if relationship.status == 'declined'
            .has-text-warning-dark
              | This party has declined your request to connect.
          else if relationship.status == 'connected'
            .has-text-info
              | You are connected to this party.
        else
          a.button.is-primary(href='/profile/connect/#{viewUserProfile.uid}')
            span Connect
